* {
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    font-family: "PTSans Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background: #f2f2f2;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.main-header {
    position: relative;
    color: #000000;
    background: #ffffff;
    padding: 0 6%;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
}

.main-navigation li a:hover {
    color: #81b3d2;
}

.main-navigation li a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation li .active {
    color: #766357;
}

.main-navigation li .active:hover {
    color: #604e43;
}

.main-navigation li .active:active {
    color: rgba(118, 99, 87, 0.3);
}

.nav-left {
    float: left;
    width: 20%;
}

.nav-right {
    float: right;
    width: 20%;
    text-align: right;
}

.logo-sedona {
    position: absolute;
    width: 138px;
    height: 70px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.main-image {
    width: 100%;
    height: 507px;
    background-image: url("../img/shape.png"), url("../img/main-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, 100% 20%;
    background-size: 100% 57px, cover;
    text-align: center;
    margin-bottom: 56px;
}

.welcome {
    margin-top: 76px;
}

h1 {
    font-family: "PTSans Bold", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

h2 {
    font-family: "PTSans Bold", "Arial", sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}

.sedona-description {
    width: 600px;
    line-height: 26px;
    text-align: center;
    background: #ffffff;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
}

.features-inverse {
    text-align: center;
    background: #81b3d2;
    color: #ffffff;
}

.features-inverse .features-item h2 {
    color: #ffffff;
}

.features-inverse .features-item {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.features-row-item-img .features-item {
    float: left;
    width: 34%;
}

.features-row-item-img .features-img {
    float: right;
    width: 66%;
    height: 256px;
    background: url("../img/features-image1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.features-row-white {
    text-align: center;
    background: #ffffff;
    min-height: 330px;
    padding-top: 50px;
}

.features-row-white .features-item {
    float: left;
    width: 33%;
    padding-left: 40px;
    padding-right: 40px;
}

.features-name {
    position: relative;
    display: block;
    margin-top: 110px;
}

.features-house .features-name::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 72px;
    background: url("../img/icon-house.png") no-repeat;
}

.features-burger .features-name::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 74px;
    height: 70px;
    background: url("../img/icon-burger.png") no-repeat;
}

.features-present .features-name::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 76px;
    background: url("../img/icon-present.png") no-repeat;
}

.features-row-img-item .features-item {
    float: right;
    width: 34%;
}

.features-row-img-item .features-img {
    float: left;
    width: 66%;
    height: 256px;
    background: url("../img/features-image2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.features-row-gray {
    text-align: center;
    background: #eeeeee;
    min-height: 256px;
    padding-top: 45px;
}

.features-row-gray .features-item {
    float: left;
    width: 33%;
    padding-left: 50px;
    padding-right: 50px;
}

.features {
    margin-bottom: 50px;
}

.search-description {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.search-form {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-family: "PTSans Regular", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.search-form button {
    position: relative;
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
    background: #766357;
}

.search-form form {
    position: absolute;
    width: 568px;
    padding: 55px;
    background: #ffffff;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
    font-family: "PTSans Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.search-form input {
    padding: 8px 12px;
    background: #f2f2f2;
    border: none;
    outline: none;
    font-family: "PTSans Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    width: 100%;
}

.search-form input:hover {
    background: #ebebeb;
}

.search-form input:focus {
    background: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-form label {
    padding-top: 8px;
}

.form label {
    float: left;
    width: 112px;
}

.form .form-inner {
    float: right;
    width: 346px;
    position: relative;
}

.form .form-input {
    padding-right: 38px;
}

.form .form-control {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.form .form-control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite.png") no-repeat;
}

.form .calendar::before {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.form .calendar:hover::before {
    width: 21px;
    height: 22px;
    background-position: -10px -94px;
}

.form .calendar:active::before {
    width: 21px;
    height: 22px;
    background-position: -10px -52px;
}

.form .form-group {
    margin-bottom: 30px;
}

.form-row .form-group {
    display: inline-block;
    width: 226px;
}

.form-row .form-inner {
    float: right;
    width: 114px;
    position: relative;
}

.form-row .form-input {
    padding-right: 38px;
    padding-left: 38px;
    text-align: center;
}

.form-row .form-control.minus {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.form-row .form-control.plus {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.form-row .form-control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite.png") no-repeat;
}

.form-row .form-control.minus::before {
    width: 12px;
    height: 3px;
    background-position: -10px -667px;
}

.form-row .form-control.minus:hover::before {
    width: 12px;
    height: 3px;
    background-position: -10px -713px;
}

.form-row .form-control.minus:active::before {
    width: 12px;
    height: 3px;
    background-position: -10px -690px;
}

.form-row .form-control.plus::before {
    width: 11px;
    height: 11px;
    background-position: -10px -736px;
}

.form-row .form-control.plus:hover::before {
    width: 11px;
    height: 11px;
    background-position: -10px -798px;
}

.form-row .form-control.plus:active::before {
    width: 11px;
    height: 11px;
    background-position: -10px -767px;
}

.form-row .group-adults {
    float: left;
}

.form-row .group-children {
    float: right;
    padding-left: 40px;
}

.form-row label {
    float: left;
}

.group-children label {
    width: 72px;
}

.search-form .search-btn {
    width: 100%;
    margin-top: 55px;
    font-size: 21px;
    line-height: 26px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #81b3d2;
    color: #ffffff;
    cursor: pointer;
}

.search-form .search-btn:hover {
    background: #669ec0;
}

.search-form .search-btn:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.map {
    width: 100%;
    height: 475px;
    background: url("../img/map.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
}

.main-footer {
    background: #ffffff;
    padding: 35px 70px;
    text-align: center;
}

.footer-visit {
    float: left;
    width: 33%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
}

.footer-social {
    float: left;
    width: 33%;
    text-align: center;
}

.social-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    margin: 0 2px;
    font-size: 0;
    background: #81b3d2;
}

.social-btn:hover {
    background: #669ec0;
}

.social-btn:active {
    background: #5496bd;
}

.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite.png") no-repeat;
}

.social-btn-tw::before {
    width: 17px;
    height: 15px;
    background-position: -10px -419px;
}

.social-btn-tw:active::before {
    width: 17px;
    height: 15px;
    background-position: -10px -829px;
}

.social-btn-fb::before {
    width: 10px;
    height: 19px;
    background-position: -10px -343px;
}

.social-btn-fb:active::before {
    width: 10px;
    height: 19px;
    background-position: -10px -304px;
}

.social-btn-yt::before {
    width: 20px;
    height: 16px;
    background-position: -10px -454px;
}

.social-btn-yt:active::before {
    width: 20px;
    height: 16px;
    background-position: -10px -864px;
}

.footer-copyright {
    float: right;
    width: 33%;
}

.footer-copyright p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.footer-copyright a {
    display: inline-block;
    vertical-align: middle;
}

.copyright-logo {
    position: relative;
    display: block;
    font-size: 0;
    width: 113px;
    height: 39px;
}

.copyright-logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/sprite.png") no-repeat;
}

.logo-academy::before {
    width: 113px;
    height: 39px;
    background-position: -10px -490px;
}

.logo-academy:hover::before {
    width: 113px;
    height: 39px;
    background-position: -10px -608px;
}

.logo-academy:active::before {
    width: 113px;
    height: 39px;
    background-position: -10px -549px;
}

.sprite-icon-stars {
    width: 89px;
    height: 17px;
    background-position: -10px -382px;
}


/* inner-page */

.filter-container {
    width: 100%;
    height: 217px;
    background: #425e74 url("../img/filter-background.jpg") no-repeat;
    background-position: 100% 50%;
    background-size: cover;
}

.filter {
    padding-top: 15px;
    padding-left: 6%;
    padding-right: 6%;
    color: #ffffff;
}

.filter-block.infrastructure {
    float: left;
    width: 240px;
}

.filter-block.housing {
    float: left;
    width: 290px;
}

.filter .filter-title {
    color: #ffffff;
}

.filter input[type="checkbox"] {
    display: none;
}

.filter input[type="checkbox"] + label {
    display: block;
    margin: 23px 0;
    line-height: 21px;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
}

.filter input[type="checkbox"]:not([disabled]) + label::before,
.filter input[type="checkbox"] + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.filter input[type="checkbox"] + label::before {
    width: 22px;
    height: 22px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -220px;
}

.filter input[type="checkbox"]:checked + label::after {
    width: 26px;
    height: 22px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -262px;
}

.filter input[disabled] + label::after {
    width: 22px;
    height: 22px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -136px;
}

.filter input[disabled]:checked + label::after {
    width: 26px;
    height: 22px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -178px;
}

.filter-block.filter-range {
    float: right;
    width: 330px;
}

.filter-range .price-controls {
    position: relative;
    height: 36px;
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 150px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin-left: 10px;
    color: #ffffff;
    background: none;
    border: none;
    outline: none;
}

.filter-range .range-controls {
    position: relative;
    margin-bottom: 30px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    box-sizing: content-box;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.filter-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.filter-btn:hover {
    color: #000000;
    background: #ffffff;
}

.sort {
    position: relative;
    padding: 30px 6%;
    border-bottom: 1px solid #e5e5e5;
}

.sort div {
    display: inline-block;
    vertical-align: middle;
}

.sort-found {
    width: 135px;
    margin-right: 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sort-type {
    font-size: 12px;
    line-height: 18px;
}

.sort-type span,
.sort-type a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.sort-type a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sort-type a:hover {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort-type a:active {
    color: #000000;
    border: none;
}

.sort-type .active {
    color: #81b3d2;
}

.sort-dir {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 11px;
    height: 10px;
    background: #cccccc;
}

.hotel {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 6%;
}

.hotel-image {
    float: left;
    width: 135px;
    height: 90px;
    margin-right: 30px;
}

.hotel-info {
    float: left;
}

.hotel-info a {
    text-decoration: none;
}

.hotel-name {
    line-height: 26px;
    margin: 0;
    margin-bottom: 6px;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-text span {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

.hotel-text span:first-child {
    width: 120px;
    margin-right: 6px;
}

.hotel-btn .btn {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 15px;
    margin-right: 6px;
    text-decoration: none;
}

.info-btn {
    width: 120px;
    background: #81b3d2;
}

.info-btn:hover {
    background: #669ec0;
}

.info-btn:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.book-btn {
    background: #766357;
}

.book-btn:hover {
    background: #604e43;
}

.book-btn:active {
    background: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
    float: right;
    width: 110px;
}

.hotel-rating .rating {
    display: block;
    padding: 3px 15px;
    background: #f2f2f2;
}